.container {
  padding: 0 2rem;
}

.button {
  background-color: #468BDF;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.button:disabled {
  background-color: #999;
}

.header {
  margin-top: 2rem;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.content {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.demo {
  width: 600px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-break: break-all;
}